header {
  text-align: center;
  background-color: #222;
  color: white;
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 0px;
}

 html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.text {
  position: absolute;
  top: 300px;
}

ul {
  list-style: none;
}

li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 13px;
  margin-bottom: 10px;

}

.entries {
  position: absolute;
  width: 65%;
  left: 400px;
}


h1,h2,p {
    font-family: 'Muli', sans-serif;
  }

h1 {
  font-size: 20px;
}
