header {
  text-align: center;
  background-color: #222;
  color: white;
  position: fixed;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 0px;
  -webkit-animation: background 9s cubic-bezier(1,0,0,1) infinite;
  animation: background 9s cubic-bezier(1,0,0,1) infinite;
  -webkit-animation: fadein 9s;
}

header h1 {
  font-size: 35px;
  -webkit-animation: fadein 9s;
}

 html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   -webkit-animation: fadein 9s;
}

.text {
  position: absolute;
  top: 300px;
  -webkit-animation: fadein 9s;
}

ul {
  list-style: none;
  transform: rotate(180deg);
  -webkit-animation: fadein 9s;
}

li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 13px;
  margin-bottom: 10px;
  transform: rotate(180deg);
  -webkit-animation: fadein 9s;

}

li:hover {
  padding: 30px;
  -webkit-animation: fadein 9s;
}

.entries {
  position: absolute;
  width: 60%;
  left: 500px;
  -webkit-animation: fadein 9s;
}


h1,h2,p {
    font-family: 'Muli', sans-serif;
  -webkit-animation: fadein 9s;
  }

h1 {
  font-size: 20px;
  -webkit-animation: fadein 9s;
}


@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #ff1a1a; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #ff1a1a; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
